* {
    font-family: 'Advent Pro', sans-serif;
    font-size: calc(20px + 0.002vw);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

/** Header **/

header {
    width: 100%;
    height: 20vh;
    background-color: #8F3302;
}

ul {
    display: flex;
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    justify-items: baseline;
    padding: 3vh 5vw 3vh 5vw;
    color: white;
    text-decoration: none;
}

li:hover {
    background-color: rgba(188, 111, 33, 1);
}


.club_text {
    display: inline-table;
    margin-left: 23vw;
    color: white;
    padding-block-start: 2vh;
}

.club_text span:first-child {
    font-weight: 600;
    font-size: 5ex;
}

.club_text span {
    margin: 1px;
}

.li_login {
    margin-left: auto;
    margin-right: 0;
}

.club_name {
    background-image: url(../images/fur_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 12vh;
    position: relative;
}

/** Content **/
.container {
    width: 100%;
    height: 75vh;
    background-color: rgba(188, 111, 33, 1);
}

#all_content {
    width: 71vw;
    background-color: white;
    height: 75vh;
    margin: auto;
    overflow-y: hidden;
}

.picture {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px 0 5px 5px;

}

.headline {
    font-size: 3ex;
}

.description {
    margin: 15px 5px 15px 5px;
    text-align: center;
    color: #8f3302;
}

.text {
    width: 100%;
    padding: 10px;
}

.content {
    border: rgba(188, 111, 33, 1);
    border-style: solid;
    margin: 4px;
    display: inline-flex;
    min-width: initial;
}

.title {
    font-size: 3ex;
    font-weight: bold;
}

/** Footer **/
footer {
    background-image: url(../images/fur-.jpg);
    width: 100%;
    height: 7.8vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-self: center;
    align-self: center;
}

footer div {
    margin: auto;
}

#login {
    margin: auto;
    background-color: #8F3302;
    padding: 30px;
    width: min-content;
    text-align: center;
    color: white;
}

/** Employee und Login **/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="button"], input[type="submit"], ::-webkit-file-upload-button {
    padding: 5px;
    background-color: rgba(188, 111, 33, 1);
    margin: 5px;
    display: inline-flex;
    color: white;
    width: fit-content;
}

input[type="text"] {
    border: black;
    border-style: solid;
}


/** Burger Menu **/

#menu {
    display: inline-table;
    margin: 20px 20px 20px 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#menu_burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

#menu_burger::before,
#menu_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

#menu_burger::before {
    transform: translateY(-16px);
}

#menu_burger::after {
    transform: translateY(16px);
}

/** Media Query **/

@media only screen and (max-width: 755px) {
    .nav {
        visibility: hidden;
    }

    header {
        height: 12vh;
    }

    .club_text span:nth-child(2) {
        font-weight: 600;
        font-size: 5ex;
    }

    .content {
        display: inherit;
        border-style: none;
    }

    #all_content {
        width: 100%;
        background-color: white;
        margin: auto;
        overflow-y: scroll;
    }

    .club_text {
        margin-left: 0vw;
    }

}

@media only screen and (max-width: 400px) {
    .club_text span:first-child {
        font-weight: 300;
        font-size: 3ex;
    }

    * {
        font-size: unset;
    }


    #menu_burger {
        width: 35px;
        height: 5px;
    }

    #menu_burger::before,
    #menu_burger::after {
        width: 35px;
        height: 5px;
    }

    #menu_burger::before {
        transform: translateY(-13px);
    }

    #menu_burger::after {
        transform: translateY(13px);
    }

}

@media only screen and (max-width: 310px) {
    .club_text {
        font-size: small;
    }
}