<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
    user-scalable=0"
            name="viewport"
    />
    <title>Tierheim</title>
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap"
            rel="stylesheet"
    />
</head>
<header>
    <script src="/js/login.js" type="text/javascript"></script>
    <div class="club_name">
        <div>
            <span>Tierheim X.X</span><br/>
            <span>Tierschutzverein X.X und Umgebung e.V.</span>
        </div>
    </div>
    <nav>
        <ul>
            <li onclick="changeURLPath('/')">Aktuelles</li>
            <li onclick="changeURLPath('/animals-placement/')">Tiervermittlung</li>
            <li onclick="changeURLPath('/lost-found/')">Gesucht/Gefunden</li>
            <li class="li_login" onclick="get_login()">Mitarbeiter Login</li>
        </ul>
    </nav>
</header>
<body>
<div class="container">
    <div id="all_content">
        <!--/*@thymesVar id="allData" type="ArrayList"*/-->
        <!--/*@thymesVar id="webContent" type="String"*/-->
        <div th:if="${webContent}=='news'">
            <div class="content" th:each="data : ${allData}">
                <img class="picture" th:src="${data.displayImage}"></img>
                <div class="text">
                    <span class="title" data-th-text="${data.title}"></span><br>
                    <span data-th-text="${data.information}"></span>
                </div>
            </div>
        </div>
        <div th:if="${webContent}!='news'">
            <div class="description title" th:if="${webContent}=='lost-found'">
                Hier finden Sie die Tiere, die bei uns Abgegeben werden, oder von ihren Besitzern vermisst werden.<br>
            </div>
            <div class="description title" th:if="${webContent}=='animals-placement'">
                Diese Tiere suchen ein neues Zuhause.<br>
            </div>
            <div class="content" th:each="data : ${allData}">
                <img class="picture" th:src="${data.displayImage}"></img>
                <div class="text">
                    <span class="title" data-th-text="${data.name}"></span><br>
                    Alter: <span data-th-text="${data.age}"></span><br>
                    <div th:if="${data.lost}==true">
                        Verschwunden <br>
                    </div>
                    <div th:if="${data.found}==true">
                        Gefunden <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div>&copy; Anita Gion</div>
</footer>
</body>
</html>
